@import url(reset.css);

* {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}


.btn {
    display: inline-block;
    background: #437EF7;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.04);
    border-radius: 6px;
    cursor: pointer;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.container {
    width: 600px;
    margin: 40px auto 0;
    background: #F8F9FB;
    border-radius: 8px;
    padding: 0 80px 15px 80px;
}

h1 {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 30px;
}

/* card-body start */

.task {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.enter-name,
.enter-phone {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.task input {
    background: #FFFFFF;
    border: 1px solid #DAE0E6;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.04);
    border-radius: 6px;
    padding: 12px 16px;
    line-height: 22px;
    width: 100%;
}

#nameSearch {
    background: #FFFFFF;
    border: 1px solid #DAE0E6;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.04);
    border-radius: 6px;
    padding: 12px 16px;
    line-height: 22px;
    width: 100%;
    margin-bottom: 15px;
}

/* card-body end */


/* recorded start */
.recorded {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: white;
    border-radius: 7px;
}

.person-info div:first-child {
    margin-bottom: 5px;
}

.person-info div {
    display: flex;
}

.person-info input {
    border: none;
    outline: none;
}

.changes i:nth-child(1),
.changes i:nth-child(3) {
    color: blue;
}

.changes {
    display: flex;
    align-items: center;
    gap: 15px;
}

.changes i {
    cursor: pointer;
    font-size: 22px;
}

/* recorded end */

#clear-all {
    display: block;
    margin-left: auto;
    margin-top: 15px;
}



/* MEDIA QUERIES */
@media screen and (max-width: 600px) {

    .container {
        width: 320px;
        margin: 40px auto 0;
        background: #F8F9FB;
        border-radius: 8px;
        padding: 0 15px 15px 15px;
    }

    h1 {
        font-size: 22px;
        padding-top: 20px;
        margin-bottom: 30px;
    }

    .task {
        gap: 20px;
    }

    .enter-name,
    .enter-phone {
        gap: 12px;
    }

    #nameSearch {
        font-size: 14px;
    }

    .person-info div {
        display: flex;
    }

    li {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px 20px;
        background-color: white;
        border-radius: 7px;
        gap: 10px;
    }

    .changes {
        margin-left: auto;
    }

    .changes i {
        font-size: 25px;
    }

    .person-info input {
        width: 100%;
    }

}