h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.4px;
}

h4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: -0.35px;
}

h6 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

a {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    list-style: none;
    color: #212121;
}

li {
    list-style: none;
}



p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #212121;
}

/* Computer Start */

.container {
    margin: 0 auto;
    width: 1110px;
}

.navbar {
    padding: 32px 0;
    gap: 40px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 80px;
}

.navbar ul {
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.navbar ul li a img {
    display: inline-block;
}

.iconone img:last-child {
    position: relative;
    bottom: 9px;
    right: 10px;
}

.navbar-icons {
    align-items: center;
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr;
    margin-left: auto;
}

.iconone {
    display: flex;
}

.header h3 {
    width: 824px;
    margin-bottom: 28px;
}

.header-grid {
    margin-bottom: 20px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}

.header-grid-left {
    margin-right: auto;
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr 6fr;
}

.header-grid-right {
    display: grid;
    margin-left: auto;
    gap: 16px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.hr {
    border-bottom: 1px solid #EAEAEA;
    margin-bottom: 24px;
}

.promotion {
    margin-bottom: 104px;
}

.promotion img {
    width: 100%;
    margin-bottom: 24px;
}

.information-section {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 80px;
    gap: 24px;
}

.information-right h6 {
    line-height: 28px;
    margin-bottom: 16px;
}

.information-section img {
    margin-right: auto;
}

.personal-word {
    padding: 96px 124px;
    text-align: center;
    background-color: #ecf1f8;
    margin-bottom: 80px;
}

.personal-word h4 {
    margin-bottom: 16px;
}

.video-section h4 {
    margin-bottom: 34px;
}

.video-section {
    margin-bottom: 128px;
}

.suggested-section {
    margin-bottom: 80px;
}

.suggested-section h4 {
    margin-bottom: 40px;
}

.suggested-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}

.suggested-card {
    background: #FFFFFF;
    box-shadow: 0px 8px 24px rgba(40, 41, 61, 0.08);
    border-radius: 6px;
    padding: 16px 16px 24px 16px;
}

.suggested-card img {
    margin-bottom: 16px;
}

.suggested-card p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #52647C;
}

.divider {
    width: 100%;
}

.footer {
    display: grid;
    grid-template-columns: 8fr 4fr;
    margin: 72px 0;
}

.footer-links {
    gap: 24px;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
}

.footer-links-colomn h5 {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #212121;
    margin-bottom: 6px;
}

.footer-links-colomn ul li a p {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #807E7E;
}

.footer-link-ul {
    padding: 0;
}

.footer-link-ul li {
    margin-bottom: 6px;
}

.footer-link-ul li:last-child {
    margin-bottom: 0;
}

.footer-mail p {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #212121;
    text-align: right;
    margin-bottom: 24px;
}

.footer-mail-input img {
    padding: 13px 21px;
    background: #0D6EFD;
    border-radius: 0px 2px 2px 0px;
    position: relative;
    left: 328px;
    bottom: 49px;
}

.footer-mail-input input {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    padding: 12px 196px 12px 16px;
    border: 1px solid #EAEAEA;
    border-radius: 3px;
}

.footer-mail-input img:hover {
    background: #094db4;
}


.footer-icon {
    padding: 24px 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
}

.footer-icon p {
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 24px;
    color: #807E7E;
    text-align: center;
}

.footer-icon-links {
    gap: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: auto;
}

/* Computer End */
/* Mobile Start */

@media screen and (max-width: 600px) {

    .container {
        margin: 0 auto;
        width: 345px;
    }

    .navbar {
        grid-template-columns: 1fr 1fr;
        margin-bottom: 10px;
    }

    .navbar ul {
        display: none;
    }

    .navbar-icons {
        margin-left: auto;
        gap: 0;
    }

    .header h3 {
        width: 310px;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: -0.2px;
        margin-bottom: 14px;
    }

    .header-grid {
        margin-bottom: 14px;
    }

    .header-grid-left {
        align-items: center;
    }

    .header-grid-left p {
        font-size: 10px;
        line-height: 28px;
    }

    .header-grid-right {
        gap: 0px;
    }

    .promotion {
        margin-bottom: 25px;
    }

    .information-section {
        grid-template-columns: 1fr;
        gap: 10px;
        margin-bottom: 14px;
    }

    .personal-word {
        padding: 20px 20px;
        border-radius: 5px;
        margin-bottom: 14px;
    }

    .personal-word h4 {
        font-size: 15px;
        line-height: 16px;
        letter-spacing: -0.25px;
    }

    .personal-word h6 {
        font-size: 15px;
        line-height: 10px;
    }

    .video-section {
        margin-bottom: 14px;
    }

    .suggested-section {
        margin-bottom: 14px;
    }

    .suggested-section h4 {
        margin-bottom: 14px;
    }

    .suggested-cards {
        grid-template-columns: 1fr;
        gap: 14px;
    }

    .footer {
        margin: 50px 0;
        grid-template-columns: 1fr;
        gap: 14px;
    }

    .footer-links {
        grid-template-columns: 2fr 2fr;
    }

    .footer-mail-input input {
        padding: 12px 151px 12px 16px;
    }

    .footer-mail-input img {
        left: 282px;
        bottom: 48px;
    }

    .footer-icon {
        grid-template-columns: 4fr 4fr;
    }

    .footer-icon p {
        display: none;
    }

    .footer-icon-links {
        gap: 14px;
    }
}

/* Mobile End */